name: Test

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: actions/cache@v4
        with:
          path: tables
          key: ${{ runner.os }}-${{ hashFiles('tables/*/TEST-SOURCE.txt') }}
      - run: ./download-test-tables.sh
      - run: cargo test
      - run: cargo test --features variant
      - run: cargo test --all-features
      - run: cargo bench
      - run: cargo check --manifest-path fuzz/Cargo.toml
        env:
          RUSTFLAGS: --cfg fuzzing
