name: CI

on:
  - push
  - pull_request

permissions:
  contents: read

jobs:
  check:
    strategy:
      matrix:
        toolchain:
          - "1.88" # remember to update rust-version in Cargo.toml
          - "stable"
          - "nightly"
    runs-on: ubuntu-latest
    steps:
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
          targets: thumbv6m-none-eabi
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-hack
      - uses: actions/checkout@v6
      - run: cargo hack check --all --feature-powerset --depth 2 --group-features std,default --ignore-unknown-features --all-targets
        name: check
      - run: cargo hack check --package shakmaty --feature-powerset --depth 2 --exclude-features std,default,arbitrary --target thumbv6m-none-eabi
        name: check no-std
  check-z-direct-minimal-versions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-hack
      # exclude private crates and dev targets
      - run: cargo +nightly hack check --workspace --all-features --lib --no-private --no-dev-deps -Zdirect-minimal-versions
        name: check z-direct-minimal-versions
  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: dtolnay/rust-toolchain@nightly
      - uses: actions/checkout@v6
      - run: cargo doc --all-features
        env:
          RUSTDOCFLAGS: "-D warnings --cfg docs_rs"
  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-hack
      - uses: taiki-e/install-action@v2
        with:
          tool: iai-callgrind-runner@0.16.1,valgrind
        if: matrix.os == 'ubuntu-latest'
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        id: cache
        with:
          path: shakmaty-syzygy/tables
          key: ${{ hashFiles('shakmaty-syzygy/tables/*/TEST-SOURCE.txt') }}
      - run: choco install wget --no-progress --confirm
        if: matrix.os == 'windows-latest' && steps.cache.outputs.cache-hit != 'true'
      - run: ./download-test-tables.sh
        shell: bash
        working-directory: shakmaty-syzygy
        if: steps.cache.outputs.cache-hit != 'true'
      - run: cargo hack test --all --feature-powerset --depth 2 --group-features std,default --ignore-unknown-features
        name: test
      - run: cargo bench
        name: bench
        if: matrix.os == 'ubuntu-latest'
  fuzz:
    runs-on: ubuntu-latest
    steps:
      - uses: dtolnay/rust-toolchain@nightly
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-fuzz
      - uses: actions/checkout@v6
      - run: cargo fuzz run bincode_roundtrip -- -max_total_time=60s
      - run: cargo fuzz run fen_from_ascii -- -max_total_time=10s
      - run: cargo fuzz run fen_from_setup -- -max_total_time=10s
      - run: cargo fuzz run incremental_zobrist -- -max_total_time=60s
      - run: cargo fuzz run legals_are_legal -- -max_total_time=60s
      - run: cargo fuzz run packed_setup_from_bytes -- -max_total_time=30s
      - run: cargo fuzz run packed_setup_from_setup -- -max_total_time=30s
      - run: cargo fuzz run pgn -- -max_total_time=60s
      - run: cargo fuzz run san_from_ascii -- -max_total_time=10s
      - run: cargo fuzz run syzygy_pawnful -- -max_total_time=60s
      - run: cargo fuzz run uci_from_ascii -- -max_total_time=10s
