name: Test

on:
  - push
  - pull_request

jobs:
  test:
    strategy:
      matrix:
        toolchain:
          - "1.70.0" # remember to update rust-version in Cargo.toml
          - "stable"
          - "nightly"
        flags:
          - ""
          - "--features variant"
          - "--features alloc"
          - "--features std"
          - "--features alloc,variant"
          - "--features std,variant"
          - "--features nohash-hasher,variant"
        include:
          - toolchain: "nightly"
            flags: "-Z minimal-versions --all-features"
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt-get update && sudo apt-get install -y valgrind
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
      - run: cargo test --no-default-features ${{ matrix.flags }}
      - run: cargo doc --no-default-features ${{ matrix.flags }}
      - run: cargo bench --no-default-features ${{ matrix.flags }}
      - run: cargo check --manifest-path fuzz/Cargo.toml
